<body class="no-select">
	<header>
		<div class="container">
			<a href="http://kids-cademy.com/index.htm"><img src="@image/kids-cademy-logo" class="logo" /><span class="logo-type">@string/kids-cademy</span></a>
			<nav>
				<a href="play.htm">@string/play</a><a href="catalog.htm">@string/catalog</a><a href="about.htm">about</a>
			</nav>
		</div>
	</header>
	<section class="body">
		<div data-editable="body"></div>
		<br clear="all" />
	</section>
	<footer data-editable="footer"></footer>
	<div class="components">
		<div data-compo="lib/sys-dialog"></div>
		<div data-editable="components"></div>
	</div>
</body>