<footer data-template="res/template/page#footer">
	<div class="references">
		<div class="container">
			<dl class="right">
				<dt></dt>
				<dd>
					<a href="legal.htm#usage-terms">@string/terms</a>
				</dd>
				<dd>
					<a href="legal.htm#public-resources">@string/public-resources</a>
				</dd>
				<dd>
					<a href="legal.htm#privacy">@string/privacy</a>
				</dd>
				<dd>
					<a href="legal.htm#cookies">@string/cookies</a>
				</dd>
			</dl>
			<div data-compo="res/compo/sharing"></div>
		</div>
		<br clear="all" />
	</div>
	<div class="container">
		<a href="index.htm"><img src="@image/logo" class="logo" /><span class="logo-type">@string/app-name</span></a><span class="public-domain">@string/public-domain</span>
	</div>
</footer>
